CONFIG_GPIO=y
CONFIG_STDOUT_CONSOLE=y
CONFIG_PRINTK=y
CONFIG_PWM=y

# Global switch, turns on/off the logger.
CONFIG_LOG=y

# Redirect printk calls to the logger.
CONFIG_LOG_PRINTK=y

# Messages are processed in the context of the log macro call. 
# Note that it can lead to errors when logger is used in the interrupt context.
CONFIG_LOG_IMMEDIATE=y
CONFIG_PWM_LOG_LEVEL_DBG=y